---
layout: default
title: Research Summaries
---

<header>
  <h1>Research Summaries</h1>
</header>

<ul class="research-horizontal-list">
  <li class="research-card">
    <a href="/2024-08-10-paper-1">
      <span class="research-header">Paper Title 1</span>
    </a>
  </li>
  <li class="research-card">
    <a href="/2024-08-10-paper-2">
      <span class="research-header">Paper Title 2</span>
    </a>
  </li>
  <li class="research-card">
    <a href="/2024-08-10-paper-3">
      <span class="research-header">Paper Title 3</span>
    </a>
  </li>
</ul>
